.gallery .pics {
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}
.gallery .pics:hover {
  filter: opacity(0.8);
}

.container-fluid {
  position: absolute;
  color: white;
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  transition: opacity 0.4s ease, visibility 0.4s ease,
    transform 0.5s ease-in-out;
  overflow: hidden;
  z-index: 999;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 25px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 17px;
}
.gallery {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 350px 350px 350px; /*Make the grid smaller than the container*/
  grid-gap: 20px;
  padding: 5px;
}

@media (max-width: 991px) {
  .gallery {
    justify-content: space-evenly;
    grid-template-columns: 350px 350px;
  }
}
@media (max-width: 768px) {
  .gallery {
    justify-content: space-evenly;
    grid-template-columns: 300px 300px;
  }
}
@media (max-width: 680px) {
  .gallery {
    justify-content: space-evenly;
    grid-template-columns: 250px 250px;
  }
}
@media (max-width: 480px) {
  .gallery {
    justify-content: space-evenly;
    grid-template-columns: 300px;
  }
}
@media (max-width: 300px) {
  .gallery {
    justify-content: space-evenly;
    grid-template-columns: 250px;
  }
}

.btn:hover {
  background-image: linear-gradient(90deg, black, Red 30%, black);
  color: white;
}
